{% extends "backend/base.html" %}

{% block title %} SIGN IN {% endblock %}

{% block body %}

<main class="form-signin">
  <form action="{% url 'signin' %}" method="post" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <div class="mb-1">
      <input type="text" class="form-control py-2" id="username" style="font-family: Georgia; font-size: 25px;" placeholder="Username" name="username">
    </div>
    <div class="mb-2">
      <input type="password" class="form-control py-2" id="password" style="font-family: Georgia; font-size: 25px;" placeholder="Password" name="password">
    </div>
    <button class="w-100 btn btn-primary py-2" style="font-family: Georgia; font-size: 25px;" type="submit">SIGN IN</button>
  </form>
</main>

{% endblock %}